In [26]:
import pandas as pd
import numpy as np
# import matplotlib

from sklearn.model_selection import train_test_split

# 유방암 데이터
## 분류
### 이진분류 Class 0 : 정상 1 : 유방암

In [6]:
df = pd.read_csv('breast-cancer-wisconsin.csv') # encoding='utf-8'
df.head()

,code,Clump_Thickness,Cell_Size,Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,0
1,1002945,5,4,4,5,7,10,3,2,1,0
2,1015425,3,1,1,1,2,2,3,1,1,0
3,1016277,6,8,8,1,3,4,3,7,1,0
4,1017023,4,1,1,3,2,1,3,1,1,0

In [10]:
df['Class'].value_counts(sort=False)

0    444
1    239
Name: Class, dtype: int64

In [11]:
df.shape

(683, 11)

In [18]:
colName = df.columns.values[1:]
colName

array(['Clump_Thickness', 'Cell_Size', 'Cell_Shape', 'Marginal_Adhesion',
       'Single_Epithelial_Cell_Size', 'Bare_Nuclei', 'Bland_Chromatin',
       'Normal_Nucleoli', 'Mitoses', 'Class'], dtype=object)

In [19]:
X1 = df[colName]

In [21]:
X1.shape

(683, 10)

In [27]:
y = df[['Class']]
y.head()

   Class
0      0
1      0
2      0
3      0
4      0

In [28]:
y.shape

(683, 1)

In [29]:
X_train,X_test,y_train,y_test = train_test_split(X1,y,stratify=y,random_state=42)

In [30]:
y_train.mean()

Class    0.349609
dtype: float64

In [31]:
y_test.mean()

Class    0.350877
dtype: float64

### 정규화

#### MinMax or Standard

In [34]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
scaler_minmax=MinMaxScaler()
scaler_standard=StandardScaler()

#### MinMax

In [40]:
scaler_minmax.fit(X_train)
X_scaled_minmax_train = scaler_minmax.transform(X_train)
pd.DataFrame(X_scaled_minmax_train).describe()

,0,1,2,3,4,5,6,7,8,9
count,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000
mean,0.372830,0.231988,0.242839,0.205078,0.241319,0.285590,0.269314,0.199002,0.067491,0.349609
std,0.317836,0.334781,0.332112,0.319561,0.242541,0.404890,0.265289,0.331503,0.190373,0.477313
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.111111,0.000000,0.000000,0.000000,0.111111,0.000000,0.111111,0.000000,0.000000,0.000000
50%,0.333333,0.000000,0.000000,0.000000,0.111111,0.000000,0.222222,0.000000,0.000000,0.000000
75%,0.555556,0.361111,0.444444,0.333333,0.333333,0.583333,0.444444,0.222222,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### Standard

In [41]:
scaler_standard.fit(X_train)
X_scaled_standard_train=scaler_standard.transform(X_train)
pd.DataFrame(X_scaled_standard_train).describe()

,0,1,2,3,4,5,6,7,8,9
count,5.120000e+02,5.120000e+02,5.120000e+02,5.120000e+02,5.120000e+02,5.120000e+02,5.120000e+02,5.120000e+02,5.120000e+02,5.120000e+02
mean,6.938894e-18,6.938894e-18,-2.775558e-17,-2.775558e-17,-4.857226e-17,6.938894e-18,-2.081668e-17,-2.775558e-17,-1.734723e-18,-4.163336e-17
std,1.000978e+00,1.000978e+00,1.000978e+00,1.000978e+00,1.000978e+00,1.000978e+00,1.000978e+00,1.000978e+00,1.000978e+00,1.000978e+00
min,-1.174173e+00,-6.936309e-01,-7.319088e-01,-6.423777e-01,-9.959361e-01,-7.060427e-01,-1.016165e+00,-6.008881e-01,-3.548677e-01,-7.331695e-01
25%,-8.242452e-01,-6.936309e-01,-7.319088e-01,-6.423777e-01,-5.373756e-01,-7.060427e-01,-5.969255e-01,-6.008881e-01,-3.548677e-01,-7.331695e-01
50%,-1.243886e-01,-6.936309e-01,-7.319088e-01,-6.423777e-01,-5.373756e-01,-7.060427e-01,-1.776856e-01,-6.008881e-01,-3.548677e-01,-7.331695e-01
75%,5.754680e-01,3.860715e-01,6.076347e-01,4.017410e-01,3.797454e-01,7.360871e-01,6.607941e-01,7.011454e-02,-3.548677e-01,1.363941e+00
max,1.975181e+00,2.296314e+00,2.282064e+00,2.489978e+00,3.131108e+00,1.766180e+00,2.756993e+00,2.418624e+00,4.903108e+00,1.363941e+00

#### Test Data 정규화

In [42]:
X_scaled_minmax_test=scaler_minmax.transform(X_test)
X_scaled_standard_test=scaler_standard.transform(X_test)

In [44]:
print(pd.DataFrame(X_scaled_minmax_test).describe())
print(pd.DataFrame(X_scaled_standard_test).describe())

                0           1           2           3           4           5  \
count  171.000000  171.000000  171.000000  171.000000  171.000000  171.000000
mean     0.411306    0.259909    0.256010    0.198181    0.269006    0.274204
std      0.298847    0.357544    0.332700    0.315307    0.259557    0.405891
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.222222    0.000000    0.000000    0.000000    0.111111    0.000000
50%      0.444444    0.000000    0.111111    0.000000    0.111111    0.000000
75%      0.555556    0.444444    0.444444    0.222222    0.388889    0.444444
max      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000

                6           7           8           9
count  171.000000  171.000000  171.000000  171.000000
mean     0.278752    0.233918    0.065627    0.350877
std      0.292578    0.360958    0.199372    0.478646
min      0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000
50%      0.222222    0.000000    0.000000    0.000000
75%      0.444444    0.388889    0.000000    1.000000
max      1.000000    1.000000    1.000000    1.000000
                0           1           2           3           4           5  \
count  171.000000  171.000000  171.000000  171.000000  171.000000  171.000000
mean     0.121175    0.083483    0.039700   -0.021605    0.114263   -0.028149
std      0.941174    1.069038    1.002747    0.987654    1.071204    1.003453
min     -1.174173   -0.693631   -0.731909   -0.642378   -0.995936   -0.706043
25%     -0.474317   -0.693631   -0.731909   -0.642378   -0.537376   -0.706043
50%      0.225540   -0.693631   -0.397023   -0.642378   -0.537376   -0.706043
75%      0.575468    0.635234    0.607635    0.053701    0.609026    0.392723
max      1.975181    2.296314    2.282064    2.489978    3.131108    1.766180

                6           7           8           9
count  171.000000  171.000000  171.000000  171.000000
mean     0.035612    0.105430   -0.009802    0.002659
std      1.103943    1.089918    1.048292    1.003774
min     -1.016165   -0.600888   -0.354868   -0.733170
25%     -1.016165   -0.600888   -0.354868   -0.733170
50%     -0.177686   -0.600888   -0.354868   -0.733170
75%      0.660794    0.573367   -0.354868    1.363941
max      2.756993    2.418624    4.903108    1.363941